// @import 'variables';
@import 'mixin';

.carousel-container {
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	// height: auto;
	height: 300px;
	overflow: hidden;
	white-space: nowrap;
	border: 1px solid red;

	.animation-container {
		position: absolute;
		width: 100%;
		height: 100%;
		border: solid 1px green;
	}

	.card {
		position: absolute;
		display: inline-block;
		// margin: 0.2em;
		margin: 3px;
		width: 150px;
		height: 150px;
		@include transition(left 1s ease);
	}
}